<!-- <div class="card"> -->

<div class="card-group"  style="width: 100%" ><!-- need to edit-->
    <!-- <mat-card-content> -->
        <video class="card-img-top" controls (click)="toggleVideo()" style="width: 100%;">  <!-- need to edit-->
                    
                    <source [src] ="fileUpload.url"  type="video/mp4"  />
                </video>
                <a href="{{ fileUpload.url }}" ></a>   
        <div class="card-body">
         
          <p class="card-text" style="font-weight: 800;"> Description : {{fileUpload.description}}</p>
          <p class="card-text" style="font-weight: 800;">Country : {{fileUpload.city}}</p>
          <p class="card-text" style="font-weight: 800;">Language  :  {{fileUpload.language}}</p>
          <!-- <p class="card-text" style="font-weight: 800;"></p> -->
        </div>
        <div class="delete_button" *ngIf="admin" >
          <button (click)="deleteFileUpload(fileUpload)"
          class="btn btn-danger btn-sm" style="float: right">
                      Delete
        </button>
      </div>
    <!-- </mat-card-content> -->
</div>
<!-- </div> -->
