<!-- <div class="card"> -->

<div class="card-group"  style="width: 100%" ><!-- need to edit-->
    <!-- <mat-card-content> -->
        <video class="card-img-top" controls (click)="toggleVideo()" style="width: 100%;">  <!-- need to edit-->
                    
                    <source [src] ="fileUpload.url"  type="video/mp4"  />
                </video>
                <a href="{{ fileUpload.url }}" ></a>   
        <div class="card-body">
         <ul>
          <li class="card-text" style="font-weight: 800;"> Description : {{fileUpload.description}}</li>
          <li class="card-text" style="font-weight: 800;"> City : {{fileUpload.city}}</li>
          <li class="card-text" style="font-weight: 800;">Country : {{fileUpload.country}}</li>
          <li class="card-text" style="font-weight: 800;">Language  :  {{fileUpload.language}}</li> </ul>
          <!-- <p class="card-text" style="font-weight: 800;"></p> -->
        
        <!-- <div class="delete_button"  > -->
          <a *ngIf="admin" (click)="deleteFileUpload(fileUpload)"
          class=" btn btn-danger btn-sm" >
                      Delete
        </a></div>
      <!-- </div> -->
    <!-- </mat-card-content> -->
</div>
<!-- </div> -->
