

  <div class="navv" style="font-size: medium;">
    <nav class="navbar fixed-top navbar-expand-md  bg-dark navbar-dark">
      <a class="navbar-brand" href="#logotohome"><img src="/assets/images/bigicon.png" width="60" height="50"></a>
      <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="collapsibleNavbar" [ngClass]="{ 'show': navbarOpen }">
        <ul class="navbar-nav navbar-center">
          <li class="nav-item" routerLinkActive="active" >
            <a class="nav-link" href="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/holy">Holy Places</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/hotels">Hotels</a> 
          </li>   
          <li class="nav-item">
            <a class="nav-link " href="/resturants">Resturants</a>
          </li>   
          <li class="nav-item">
            <a class="nav-link " href="/entertainment">Entertainment</a>
          </li>   
          <li class="nav-item">
            <a class="nav-link" href="/traveling">Traveling</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/guide">Guide Service</a>
          </li>
           
          <li class="nav-item">
            <a class="nav-link" href="/addVideo">Add Video </a>
          </li>   
          <li class="nav-item" *ngIf="loginSignUp">
            <a class="nav-link" href="/login">Login</a>
          </li>
          <li class="nav-item" *ngIf="loginSignUp">
            <a class="nav-link" href="/signup">Sign Up</a>
          </li>
          <li class="nav-item" *ngIf="profile">
            <a class="nav-link" href="/profile" >profile </a>
          </li>
          <li class="nav-item" *ngIf="profile">
            <a class="nav-link" href="/profile" (click)="logoutUser()">Log Out</a>
          </li>



        </ul>
      </div>  
    </nav>
  </div>
