<!DOCTYPE html>
<html lang="en">
<head>
  <title>Entertainment </title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    
</head>
<body>


<div>
  
  <div class="split left ">   
       <div>
      <form action="/action_page.php">
        <div class="container h-100">
          <div class="d-flex h-100">
            <div class="searchbar">
              <input class="search_input" type="text" name="" placeholder="Search">
              <a href="#" class="search_icon"><i class="fas fa-search"></i></a>
            </div>
          </div>
        </div>      
      </form>
    </div>
    <div class="centered">
      <h2>Places By Search</h2>
    <p>Some text here too.</p>
  </div>
  </div>
  <div class="split right">
    <div class="centered">
        <h2>Places By Current Location</h2>
      <p>Some text here too.</p>
    </div>
  </div>
</div>
</body>
</html>
<router-outlet></router-outlet>
