<br>
<br><br>
<div class="limiter">
    <div class="container-login100" >
        <div class="wrap-login100 p-l-55 p-r-55 p-t-55 p-b-40">
            <form  [formGroup]="signupForm" (ngSubmit)="signup()" class="login100-form validate-form">
                <span class="login100-form-title p-b-20">
                    Sign Up
                </span>
                
                <div class="flex-c-m">
                    <a href="/profile" class="login100-social-item bg1">
                        <i class="fa fa-facebook" style="margin-left: 50%;"></i>
                        <button class="btn" (click)="faceBookSignin()" ></button>
                    </a>

                    <a href="/profile" class="login100-social-item bg2">
                        <i class="fa fa-google" style="margin-left: 50%;"></i><button class="btn" (click)="googleLogin()" ></button>
                    </a>
                </div><br>
                
                   
                    <div class="register_form">
                        <div id="fullname">
                        <div class ="wrap-input100 validate-input m-b-23">
                            <i class="fa fa-user" aria-hidden="true"></i>
                        <span class="label-input100" for="fname">First name</span>
                    <span id="firstError1" class="Error"></span>
                    <input autocomplete="off" formControlName="firstName" class="input100" type="text" id="fname" name="firstname" placeholder="First Name" />
                  </div>
                   <div class ="wrap-input100 validate-input m-b-23">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <span class="label-input100" for="fname">Last name</span>
                    <span id="lastError1" class="Error"></span>
                    <input autocomplete="off" formControlName="lastName" class="input100" type="text" id="lname" name="lastname" placeholder="Last Name" />
                </div></div> 
                <div id="fullname">
                    <div class ="wrap-input100 validate-input m-b-23">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    <span class="label-input100" for="fname">Email</span>
                <span id="firstError1" class="Error"></span>
                <input formControlName="email" type="email" class="input100" type="email" name="mail" placeholder="Type your email">
              </div>
               <div class ="wrap-input100 validate-input m-b-23">
                <i class="fa fa-mobile" aria-hidden="true"></i>
                <span class="label-input100" for="fname">Phone</span>
                <span id="lastError1" class="Error"></span>
                <input autocomplete="off" formControlName="phoneNumber" class="input100" type="number" name="phone" placeholder="Type phone number">
            </div></div> 

                <div class="wrap-input100 validate-input" data-validate="Password is required">
                    <i class="fa fa-lock" aria-hidden="true"></i>
                    <span class="label-input100">Password</span>
                    <input autocomplete="off" formControlName="password" class="input100" type="password" name="pass" placeholder="Type your password">
                </div> </div>
                <div *ngIf="firebaseErrorMessage != ''" class="error-style">
        <span>{{ firebaseErrorMessage }}</span>
    </div>
                <br>
                <div class="container-login100-form-btn">
                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
                        <button class="login100-form-btn">
                            Register
                        </button>
                    </div>
                </div>

<div class="progressIndicator" [style.display]="isProgressVisible ? 'inline' : 'none' ">
<mat-progress-spinner class=" example-margin" color="primary" mode="indeterminate"></mat-progress-spinner>
</div>

                <div class="flex-col-c p-t-10">
                    <span class="txt1 p-b-17">
                        Or <a href="/login" class="txt2">
                        Login</a>
                    </span>

                
                </div>
            </form>
        </div>
    </div>
</div>


<div id="dropDownSelect1"></div>
