
    
    <br><br><br><br>



    <div class="panel-heading title" style="margin-left: 20% ;color	:#ffffff; font-size: 500%;">  <h1>{{ (user | async)?.firstName }} Profile</h1></div>
    <section class="left-col user-info pro col-md-7">
      <div >
        <div class="inner"></div>
    <br>
    <img img src="/assets/images/malePic.png" alt="" width="300" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
 
      </div>
      <h1>{{ (user | async)?.firstName }}<br>{{ (user | async)?.lastName }}</h1>
      <div class="clearfix"></div>
      <div class="meta">
        <p><i class="fa fa-envelope">:{{ (user | async)?.email }}</i></p>
        <p><i class="fa fa-mobile"> :{{ (user | async)?.phoneNumber  }}</i></p> 
      </div>
      <br>
                 <!-- <button class="btn btn-danger btn-sm" routerLink="/home" (click)="logoutUser()">
                    <span>Logout</span>
                </button> -->
    </section>
    
    

  <section class="section center-col content">
    <div class="unit user-hyped">
      <h3>Videos You Uploaded</h3>
      <br>
    <div id="comp-render2">
        <div class="card" *ngFor="let file of videoList" style="max-width:25rem;">
        <div *ngIf="file.userId==userId">
    
          <li class="list-group-item"  >
            <app-test-details [fileUpload]='file'></app-test-details>
          </li>
        
      </div></div>

    </div></div>
    
    
  </section>



  
  