    <br><br><br><br><br>

    <div *ngIf="emp">

    <div class="panel-heading title" style="margin-left: 40% ;color	:#ffffff; font-size: 400%;">  <h1>{{ (user | async)?.firstName }} Profile</h1></div>
    <br><br>
    <section class="user-info pro col-md-7" style="margin:0 auto;width: 30%;">
      <div >
        <div class="inner"></div>
		<!-- <div class="panel-heading">  <h3>{{ (user | async)?.firstName }} Profile</h3></div> -->
    <br>
		<img class="profile-avatar" alt="User Pic" src='../../assets/images/prof.jpg' id="profile-image1" class="img-circle img-responsive"> 
      </div>
      <h1>{{ (user | async)?.firstName }} {{ (user | async)?.lastName }}</h1>
      <div class="clearfix"></div>
      <div class="meta">
        <p><i class="fa fa-envelope">:{{ (user | async)?.email }}</i></p>
        <p><i class="fa fa-mobile"> :{{ (user | async)?.phoneNumber  }}</i></p>
        <br> 
      </div>
    </section>
    
    

  <section class="section  content">
    <div class="unit user-hyped">
      
      <br>
      
    <div id="comp-render2">
        <div class="card" *ngFor="let file of videoList" style="max-width:25rem;">
       <!-- <div *ngIf="file.userId!=userId "> <h3>no videos Uplouded</h3></div> -->
        <div *ngIf="file.userId==userId && file!=null">
        
          <li class="list-group-item"  >
            <app-test-details [fileUpload]='file'></app-test-details>
          </li>
        
      </div></div>

    </div>
  </div>
    
    
  </section>
</div>
<div *ngIf="vid">
  <div class="panel-heading title" style="margin-left: 40% ;color	:#ffffff; font-size: 400%;">  
    <h1>{{ (user | async)?.firstName }} Profile</h1></div>
    <br><br>
    <section class=" user-info pro col-md-7 " style="margin:0 auto;width: 30%;">
      <div >
        <div class="inner"></div>
		<!-- <div class="panel-heading">  <h3>{{ (user | async)?.firstName }} Profile</h3></div> -->
    <br>
		<img class="profile-avatar" alt="User Pic" src='../../assets/images/prof.jpg' id="profile-image1" class="img-circle img-responsive"> 
      </div>
      <h1>{{ (user | async)?.firstName }} {{ (user | async)?.lastName }}</h1>
      <div class="clearfix"></div>
      <div class="meta">
        <p><i class="fa fa-envelope">:{{ (user | async)?.email }}</i></p>
        <p><i class="fa fa-mobile"> :{{ (user | async)?.phoneNumber  }}</i></p> 
        <p style="font-weight: bold;">No Videos Uplouded !</p>
        <br>
      </div>
    </section>
</div>
  