

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Live trip project</title>
  <meta charset="utf-8">

</head>


<body>

    <div class="card-columns">
      <div class="card">
        <img class="card-img-top" src="/assets/images/restaurants.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">restaurants</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <button (click)="restClick()" class="btn btn-outline-success">Button</button>
        </div>
      </div>
      <div class="card p-3">
        <img class="card-img-top" src="/assets/images/travel.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Travel</h5>
          <button (click)="travelClick()" class="btn btn-outline-success">Button</button>
      </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="/assets/images/holy.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Holy</h5>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
          <nav>
            <li><a routerLink="/holy" routerLinkActive="active">HOLYPAGE</a></li>
          </nav>
          <button (click)="holyClick()" class="btn btn-outline-success">Button</button>
    
          
    
         
    
        </div>
      </div>
      <div class="card   text-center">
        <img class="card-img-top" src="/assets/images/video.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">videos</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <button (click)="videoClick()" class="btn btn-outline-success">Button</button>
        </div>
      </div>
      <div class="card text-center">
        <img class="card-img-top" src="/assets/images/food.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Food</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <a href="#" class="btn btn-outline-success">Button</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="/assets/images/guide.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">guide service</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <button (click)="guideClick()" class="btn btn-outline-success">Button</button>    </div>
        </div>
      <div class="card p-3 text-right">
        <img class="card-img-top" src="/assets/images/mapgo.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">map</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <button (click)="mapClick()" class="btn btn-outline-success">Button</button>    </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="/assets/images/sea.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">vibes</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <button (click)="vibesClick()" class="btn btn-outline-success">Button</button>
    
        </div>
      </div>
    
      
    </div>
    
    
    
    
    
    
    
    <div class="jumbotron text-center" style="margin-bottom:0">
      <p>Footer</p>
    </div>
    
    </body>
    </html>
    
    
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
    <!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
    <!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
    <!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
    <!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
    
    
    
