<br><br><br><br>
<div style="margin-left: 3%;">
  <div class="btn-group" role="group" aria-label="Basic example" style="margin-left: 50%;">
    <button   type="button" class="btn btn-dark fas fa-play-circle" id="btn-v" (click)="vidClick()">All Videos</button>&nbsp;
    <button  type="button" class="btn btn-dark fas fa-map-marker-alt" id ="btn-m" (click)="mapClick()" >Map</button>
  </div>
  <br> <br>

  <!-- Search by Language -->
  <div class="inline" >     
    <!-- style="margin-left: 25%;" -->
     <mat-form-field appearance="fill" >
      <mat-label >Language</mat-label>
      <select matNativeControl required [(ngModel)]="language_search"  >
        <option value="" disabled selected>Select Language</option>
        <option value="Arabic">Arabic</option>
        <option value="English">English</option>
        <option value="Hebrew">Hebrew</option>
        <option value="Spanish">Spanish</option>
        <option value="Russian">Russian</option>
        <option value="French">French</option>
        <option value="Hindi">Hindi</option>
        <option value="Portuguese">Portuguese</option>
        <option value="Bengali">Bengali</option>
        <option value="Chinese">Chinese</option>
    
      </select>
    </mat-form-field>&nbsp;
    <button mat-raised-button class="btn btn-dark" type="button" id ="btn-select" (click)="langClick()">Search</button>  
    </div>&nbsp;
    <!-- Search by  Country-->

    <div class=" inline">  
    <mat-form-field appearance="fill" >
      <mat-label >Country</mat-label>
      <select matNativeControl required [(ngModel)]="city_search"  >
        <option value="" disabled selected>Select Country</option>
        <option *ngFor="let country of countries" [value]="country.name">{{country.name}}</option>
      </select>
    </mat-form-field>&nbsp;

  

<button mat-raised-button class="btn btn-dark" type="button"  id ="btn-select" (click)="cityClick()">Search</button> 
       </div> 
  


   <br>
  
  <div id="comp-render1"  *ngIf="map_enter">

            <app-map></app-map>
        
  </div>



<div id="comp-render2" *ngIf="all_vid" >

          <div class="card" *ngFor="let file of fileUploads" style="max-width:25rem;">
          
              <li class="list-group-item" *ngIf="file.catagory=='HolyPlaces'">

                <app-test-details [fileUpload]='file'></app-test-details>
              </li>
            
          </div>
</div>
<div id="comp-render2" *ngIf="current_vid" >

  <div class="card" *ngFor="let file of fileUploads" style="max-width:25rem;">
  
      <li class="list-group-item" *ngIf="file.catagory=='HolyPlaces'&& address.includes(file.country)">
        

        <app-test-details [fileUpload]='file'></app-test-details>
      </li>
    
  </div>
</div>
<div id="comp-render2" *ngIf="both_enter">
  <div class="card"  *ngFor="let file of fileUploads" style="max-width:25rem;">
      <li class="list-group-item" *ngIf="file.catagory=='HolyPlaces'&& city_search==file.country && language_search==file.language">
        <app-test-details [fileUpload]='file'></app-test-details>
      </li>
  </div>
</div>
<div id="comp-render2" *ngIf="language_enter">
  <div class="card" *ngFor="let file of fileUploads" style="max-width:25rem;"> 
    
      <li class="list-group-item" *ngIf="file.catagory=='HolyPlaces'&& language_search==file.language">
        <app-test-details [fileUpload]='file'></app-test-details>
      </li>
    
  </div>
</div>

<div id="comp-render2" *ngIf="city_enter ">
  <div class="card" *ngFor="let file of fileUploads" style="max-width:25rem;">
      <li class="list-group-item" *ngIf="file.catagory=='HolyPlaces'&& city_search==file.country">
        <app-test-details [fileUpload]='file'></app-test-details>
      </li>
    
  </div>
</div>


</div>